body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: blue;
}

section {
    display: flex;
}

.halfwidth {
    width: 50%;
    padding-left: 5%;
}

.halfwidth img {
    width: 100%;
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(blue, navy);
    color: brown;
    font-weight: 700;
    padding: 10px 40px;
    border: radius 5px;

}